#search-button {
  background-color: black;
  color: white;
  transition: 0.25s;
}

#apply-text {
  padding: 12px;
  border: 1px solid white;
}

#search-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
